body {
    background-color: #b9cded;
}

.bar{
    background-color: black;
    height: 120px;
    width: 10px;
    padding:0px;
}
#container{
    background-color:black;
    height: 250px;
    width: 110px;
    border-radius: 10px;
}

button{
    border: none;
    border-radius: 25px;
}
.redlight {
  background-color: red;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top:20px;
    padding-top: 0px;
    transition: all 0.3s ease 0s;
  }

.yellowlight {
    background-color:yellow;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.greenlight {
    background-color:green;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.light{
    transition: all 0.3s ease 0s;  
    box-shadow: 2px -2px 40px 5px rgba(255, 255, 255, 1);
    color: #fff;
}